:root {

  --purple: #41197f;

  --yellow: #fcc436;
}

.container {
  background-color: var(--purple);
  height: 100%;
}

.logo_container {
  align-items: center;
  box-shadow: 1px 1px 20px 2px rgb(87, 87, 87);
  display: flex;
  height: 50%;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.logo_image {
  height: 50%;
}

.form_container {
  align-items: center;
  background-color: white;
  color: var(--purple);
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-style: italic;
  gap: 1vh;
  height: 50%;
  justify-content: center;
}

.form_container p {
  font-size: 1.6rem;
  letter-spacing: 0.6vh;
}

.form_input {
  border: 1px solid var(--purple);
  border-radius: 4px;
  color: var(--purple);
  height: 5vh;
  padding: 1.5vh;
  width: 80%;
}

.form_input::placeholder {
  color: var(--purple);
}

.form_input:focus, .form_input:focus::placeholder {
  border-color: var(--yellow);
}

.form_button {
  align-items: center;
  background-color: var(--yellow);
  border: none;
  border-radius: 4px;
  color: white;
  display: flex;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  padding: 1.5vh;
  width: 80%;
}

.form_button:disabled {
  opacity: 0.8;
}
