:root {

  --purple: #41197f;
}

.footer {
  align-items: center;
  background-color: var(--purple);
  bottom: 0;
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 0 4vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}
